body {
  font-family: Arial;
  background: #0b1a2b;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  background: #122b45;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
